tcp_server
QtClient - basics/build-AudioClient-Desktop_Qt_5_7_0_GCC_64bit-Debug/
.tcp_server.cpp.kate-swp
QtClient - basics/build-AudioClient-Desktop_Qt_5_7_0_GCC_64bit-Release/
QtClient - basics/AudioClient/AudioClient.pro.user*
*.wav
song*
*.mp3
QtClient - basics/build-AudioClient-Qt_5_7_0_gcc_64-Debug/
*.o
